@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-item-hover-background-color: #ccc;
@import "../../node_modules/bulma/bulma";

html, .navbar-menu, .navbar {
  background-color: #ccc;
}

.navbar-item {
  img {
    max-height: 169px;
  }
}
#headshot-container {
  img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90%;
  }
}

#info-container {
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    @include mobile {
      font-size: 60px;
      line-height: 54px;
    }
    line-height: 76px;
    margin-bottom: 40px;
  }
  p {
    font-weight: 500;
  }
}

.columns {
  .column {
    .card {
      min-height: 280px;
    }
  }
}
